.avarter {
  margin: 19px 0 0 20px;
  position: relative;
}
.avarter > img {
  height: 30px;
  width: 30px;
  border-radius: 30px;
}
.avarter > i {
  position: absolute;
  top: -5px;
  left: 20px;
  width: 14px;
  height: 16px;
  padding: 0 4px;
  line-height: 16px;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 12px;
  background-color: #c20c0c;
  color: #fff;
  font-style: normal;
}
